.wrap {
  width: 1200px;
  margin: auto ;
  display: flex;
}

.containerA1{
  width: 230px;
  height: 1182px;
  display: flex;
  flex-direction: column;
  background-color: #242536;
  position: fixed;
}

.rectangle1 {
margin: 40px 0px 50px 35px ;
width: 160px;
height: 50px;
border: solid 1px #44d7b6;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #242536;

}

.logo{     
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 23px;
font-weight: 600;
display:flex;
text-align: center;
color: #32c5ff; 
}

.bx{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 230px;
  height: 150px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.bx img{
  width: 60px;
height: 60px;
object-fit: contain;
justify-self: center;
align-self: center;
}

.bx p{
  margin-top: 15px;
  color: white;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}


.b1{
  background-color: #ab7fff;
}

.containerB {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}




.containerB1{
  display: flex;
  height: 68px;
  align-items: center;
  box-shadow: 0 -2px 2px  rgba(0, 0, 0, 0.25);
}

.containerB1 p{
  justify-self: flex-start;
  width: 43px;
  height: 20px;
  margin-left: 270px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: #333333;

}

.containerB1 img{
  width: 17px;
  height: 20px;
  margin: 10px 75px 0 60px;
  object-fit: contain;
 margin-bottom: 8px;
}

.line2a {
    width: 1.2px;
    height: 45px;
    background-color: rgb(230, 230, 230);
    margin-left: 40px;
    margin-right: 40px;
}

.line2b{
  width: 1.2px;
  height: 45px;
  background-color: rgb(230, 230, 230);
  margin-left: 40px;
  margin-right: 120px;
}

.search-box{
  width: 435px;
  height: 33px;
  margin: 5px 10px 5px 10px;
  padding: 5px 7px 6px 18px;
  border-radius: 30px;
  border: solid 0.5px rgba(146, 146, 146, 0.71);
}

.sr-oval{
position: absolute;
margin-bottom: 25px;
width: 19px;
height: 19px;
padding: 7px 7px 8px 8px;
background-color: #e5e5e5;
margin: 0 0 0 975px ;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
}


.search {
  position:absolute;
  width: 4px;
  height: 4px;
  padding-left: 15px;
}

.shp-crt{
  justify-self: flex-end;
  position: absolute;
  width: 30px;
  height: 35px;
  border-radius: 60px;
  padding: 10px 9px 2px;
  background-color: #0077c7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1120px;

}



.shp-crt img{
  position: absolute;
  width: 31px;
  height: 26px;
  justify-self: center;
  align-self: center ;
  padding-left: 15px;
  padding-bottom: 10px;

}

.shp-crt1{
  width: 6px;
  height: 13px;
  margin: 0 0 35px 35px;
  padding: 1px 5px 2px;
  border-radius: 8px;
  background-color: #84bb10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1156px;
}

.shp-crt1 p{
  position: absolute;
  justify-self: center;
  margin-right: 232px;
  font-size: 12px;
  margin-top: 19px;
  color: white;
}

.containerB2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(240, 243, 247);
}

.heading1{
  margin-left: 270px;

}

.heading1 h3{
  font-size: 22px;
  color: #424420;
  margin-top: 30px;
}

.heading1 p{
  font-size: 13px;
  color: #424420;
  margin-top: -18px;
} 

.griddd{
  display: flex;
  flex-direction: column;
}

.grdd{
  margin: 4px 0 0 270px;
  width: 835px;
  height: 90px;
  padding: 18px 41px 18px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
  display: flex;

}

.img-fr{
  width: 86px;
  height: 86px;
  margin: 0 21px 0 0;
  padding: 3px 3px 3px 3px;
  border: solid 1px #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fr-img{
  width: 80px;
  height: 80px;
  object-fit: contain;

}
.p-details{
  display: flex;
  align-items: center;
  width:585px;
}

.p-details p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: #383838;
}


.btn-add{
  align-self: center;
  justify-self: flex-end;
  width: 73px;
  height: 32px;
  padding: 7px 21px 5px 30px;
  border-radius: 3px;
  background-color: #2494fd;
  display: flex;
  align-items:center;
  justify-content: center;
}

.btn-add p{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.select {
  display: flex;
  align-items:center;
  margin-left: 10px;
}

.sl-box{
  width: 30px;
  height:32px;
  border: solid 2px #d8d7d7;
  border-radius: 2.5px;
  display: flex;
  align-items:center;
  justify-content:center;
}

.sl-box p{
  color:rgb(49, 49, 49)
}


.footrr1{
  margin-top: 8%;
  height: 35px;
  background-color: #4b6abd;
  display: flex;
  justify-content: center;
}

.footrr1 p {
  color: white;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 200px;
}



