.containerAb{
    width: 230px;
    height: 1415px;
    display: flex;
    flex-direction: column;
    background-color: #242536;
    position: fixed;
}

.rectangle1 {
  margin: 40px 0px 50px 35px ;
  width: 160px;
height: 50px;
border: solid 1px #44d7b6;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #242536;

}

.logo{     
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  font-weight: 600;
  display:flex;
  text-align: center;
  color: #32c5ff; 
}

.bx{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 230px;
    height: 150px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.bx img{
    width: 60px;
  height: 60px;
  object-fit: contain;
  justify-self: center;
  align-self: center;
}

.bx p{
    margin-top: 15px;
    color: white;
    font-size: 12px;
    justify-self: center;
    align-self: center;
}


.b1{
    background-color: #ab7fff;
}

.delivery-details{
    display: flex;
    justify-content: space-between;
}

.delivery-details select{
    margin-right: 20px;
    width: 140px;
  height: 40px;
  padding: 5px 11px 5px 11px;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
}

.input-date{
    width: 165px;
  height: 32px;
  padding: 5px 11px 5px 11px;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
}

.input-text{
    width: 793px;
  height: 85px;
  margin: 7px 0 0;
  border-radius: 4px;
  border: solid 1px #bbbbbb;
  background-color: #ffffff;
}

.delivery-details p{
  margin: 28px 95px 7px 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: #424420;
}

.dd1{
    width: 800px;
  background-color:#e1f2fe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: solid 5px#f9a426;
  padding:  10px 30px 30px 30px;
}

.delivery{
    flex-direction: column;
    height: auto;

}

.bxa1{
    justify-content: space-between;
    background-color: #e1f2fe;
}

.bxb1{
    justify-content: space-between;
    background-color: #ffffff;
}



.footrr3{
    margin-top: 60px;
    height: 35px;
    background-color: #4b6abd;
    display: flex;
    justify-content: center;
}

.footrr3 p {
    color: white;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.place-order{
    align-self: center;
    justify-self: flex-end;
    width: 135px;
    height: 38px;
    padding: 7px 21px 5px 30px;
    border-radius: 3px;
    background-color: #2494fd;
    display: flex;
    align-items:center;
    justify-content: center;
    border: solid 2px #2494fd;
    margin-top: 17.5px;
    margin-left: 600px;
}

.place-order:hover{
    background-color: #0a60b1;
}

.place-order p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}
